<div class="tooltipContainer">
  <div>
    <button appTooltip="This is a tooltip" tooltipPosition="top" tooltipColor="orange" tooltipMessage="It is a long established fact. ">
      Hover over me
    </button>
  </div>
  <div>
    <button appTooltip="This is a tooltip" tooltipPosition="right" tooltipColor="pink" tooltipMessage="Established established fact that. ">
      Hover over me
    </button>
  </div>
  <div>
    <button appTooltip="This is a tooltip" tooltipPosition="bottom" tooltipColor="green" tooltipMessage="Readable content of a page when looking at its layout. ">
      Hover over me
    </button>
  </div>
  <div>
    <button appTooltip="This is a tooltip" tooltipPosition="left" tooltipColor="green" tooltipMessage="Readable content of a page when looking at its layout. ">
      Hover over me
    </button>
  </div>
</div>
